.main{
    justify-content: center;
    background-color: aqua;
    text-align: center;
    display:flex;
    flex-direction: column;
}

.headings{
    display:inline-block;
    flex-direction:column;
    margin:0 5px;
}



